.header {
  width: 100%;
  background-color: var(--backgroundColor);
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logoWraper {
  width: 176px;
  height: 64px;
  background-position: 0 0;
}

.left {
  position: absolute;
  left: 200px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  transition: all 0.3s;
}

.left.leftOpenStyle {
  color: black;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
}

.navBtn {
  display: flex;
  align-items: center;
  height: 24px;
}
.navSearch {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 150px;
  margin-left: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.navSearch input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  font-size: 14px;
}
.navSearch .searchIcon:hover {
  color: rgba(255, 255, 255, 0.72);
}

.iconWrap {
  padding: 2px;
  width: 20px;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  height: 20px;

  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 50%;
  vertical-align: baseline;
  margin-left: 10px;
}
.iconWrap:hover {
  background-color: rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 48px;
}

.icon > svg {
  width: 4em;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.loginItem {
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginItem a {
  color: var(--color);
}

.loginItem .avatar {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  /* margin-right: 10px; */
}
