.home {
  padding: var(--defaultPadding);
  box-sizing: border-box;
}

.homeHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 34px;

  line-height: 34px;
}

.headerItem {
  font-size: 18px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.headerItem.active {
  font-size: 20px;
  font-weight: bold;
}

.headerItem.active::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #ec4141;
  margin-top: 8px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.homeContent {
  background-color: #fff;
  padding: 10px 0;
  max-width: 1000px;
  margin: 0 auto;
}
