:root {
  --color: #fff;
  --backgroundColor: #ec4141;
  --iconColor: #333333;
  --iconSize: 24px;
  --minWidth: 1024px;
  --musicBarHeight: 88px;
  --headerHeight: 64px;
  --musicBarBackgroundColor: #fff;
  --sideBarWidth: 200px;
  --defaultPadding: 5px 20px;
}

.dark {
  --color: #000;
}
