.suggest {
  width: 100%;

  background-color: #fff;
}

.suggestContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
