.musicDetail {
  top: 0;
  background-color: rgb(243, 243, 243);
}

.content {
  height: calc(100% - var(--musicBarHeight));
  overflow-y: scroll;
}

.musicDetailHeader {
  height: var(--headerHeight);
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.musicDetailCutIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.musicDetailCutIcons .upBtn {
  font-size: 22px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.songInfoArea {
  height: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 10%;
  justify-content: space-around;
}
.songPicWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-right: 20px;
}

.lrc {
  margin-top: 80px;
  width: 500px;
}

.songBaseInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.songBaseInfo .songName {
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
}

.songBaseInfo .ar {
  font-size: 14px;
  font-weight: 300;
  color: rgb(187, 187, 187);
}

@keyframes rotate {
  0% {
    transform: rotate(23deg);
  }
  100% {
    transform: rotate(27deg);
  }
}
