.progress {
  width: 300px;
  height: 100%;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.progress .progressBar {
  background-color: #e5e5e5;
  width: 100%;
  height: 3px;
  position: relative;
  border-radius: 2px;
}

.progress:hover .progressBar {
  height: 5px;
}

.progress:active .progressBar {
  height: 5px;
}

.progress:hover .progressBar {
  height: 5px;
}

.progress:hover .dot {
  visibility: visible;
}

.curBar {
  width: 0px;
  background-color: #ee5959;
  height: 100%;
  position: absolute;
  border-radius: 2px;
  z-index: 100;
}

.bufferBar {
  width: 0px;
  background-color: #cdcdcd;
  height: 100%;
  position: absolute;
  border-radius: 2px;
  z-index: 1;
}

.dot {
  visibility: hidden;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  background: #ee5959;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
}

.dot:active {
  visibility: visible;
}

.dot:hover {
  width: 11px;
  height: 11px;
}
